body {
	overflow: hidden;
	background-color: #f8f8f8;
}
div {
	display: block;
}
.page {
	overflow-y: auto;
	background-color: #f8f8f8;
}
.page__hd {
	padding: 40px 40px 20px 40px;
}
.page__title {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 10px;
}
.page__desc {
	color: #888;
	font-size: 14px;
	margin-bottom: 5px;
}
.page__icon {
	margin-top: 20px;
	margin-bottom: 10px;
}
.page__bd {
	width: 100%;
	padding: 0;
}
.page__tool {
	padding:10px 20px 10px;
	text-align: right;
}
.page__ft {
	margin-top: 50px;
}
.weui-label-in{
	display: block;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
}